/*styleSheet_Patryck.css
 *@Patryck Brenner
 * 17th Dec 2020
 */

 * {
	font-family: URW Chancery L, cursive; /* got this font-family on: https://www.w3.org/Style/Examples/007/fonts.en.html */
	text-decoration: none;
    text-align: center;

}

body {
	background-color: #f5f1ee;
	width: 100%;
	height: auto;
	margin: auto;
	max-width: 1800px;
    min-width: 400px;
}



/*------------------Header------------------*/

#header{
	margin: auto;
    padding: 1%;
    width: 100%;
}



/*------------------Navegation menu------------------*/

.topnav {
	overflow: hidden;
	width: 100%;
	background-color: #069;
	border: 1px solid #ccc;
	
}

.topnav ul {
	display: flex;
}

.topnav li {
	list-style: none;
	padding: 1%;
	width: 15%;	
	position: relative;
}

.topnav a {
	text-align: center;
	float: left;
	
	text-decoration: none;
	font-weight: bold;
	color: white;
	transition: 1s;
		
}

.topnav a:Hover { 
	transform: scale(1.2);

}

#page_active {
	transform: scale(1.5);
}



/*------------------ MAIN CONTENT STARTS HERE ------------------*/

.container{
	width:100%;
	margin: auto;
	margin-top:8px;
	padding: 1%;
	font-size:18px;    
    line-height:16px;
	overflow: auto;
}

/*------------------ Header for the page introduction ------------------*/
.container h2 {
	padding-bottom: 1%;
	text-transform: uppercase;
	border-bottom: 2px solid;
}

.container p {
    text-align: justify;
}


/*------------------ Giver the rounded look to the fieldset ------------------*/

.container fieldset {
	margin:10px;
	padding:20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}


/*------------------ Makes the submit buttom bigger and nicer ------------------*/

.container input#submit
{
margin:7px;
padding-left:15px;
padding-right:15px;
padding-top:7px;
padding-bottom:7px;
}



/*------------------Display the total price box in green when the function totalPrice() is called------------------*/
.container div#totalPrice
{
	margin-top: 7px;
    padding:12px;
    font-weight:bold;
    background-color:green;
}

/*------------------ Gallery ------------------*/


.gallery img {
	padding: 1%;
	transition: 0.5s;
	box-shadow: 0px 0px 3px 0px #888888;
}

.gallery img:hover {
	transform: scale(1.2);
	
}

/*------------------ Footer ------------------*/

footer {
    background-color: #f5f1ee;
	color: black;
    padding: 8px 0;
	text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/*------------------ Form ------------------*/

#contact_details{
	display: inline-block;
	text-align: center;	
	
}

#contact_details table td {
	text-align: left;
    padding: 1%;

}

legend{
	text-transform: uppercase;
	font-weight:bold;
	font-style:italic;
    padding-bottom:10px;
}

/*------------------ Add more things from here, we still need to do the @media stuff ------------------*/

@media screen and (max-width: 500px) {
  .topnav a {
	overflow: hidden;
    float: left;
	position: relative;
    display: block;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

